In [1]:
import pandas as pd

## Series

In [2]:
L1 = [10,20,30,40,50]

In [3]:
L1

[10, 20, 30, 40, 50]

In [4]:
s1 = pd.Series(L1)

In [5]:
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
s2 = pd.Series([10,'python',20.23], index=['a','b','c'])
s2

a        10
b    python
c     20.23
dtype: object

## DataFrame

In [7]:
pd.DataFrame

pandas.core.frame.DataFrame

In [8]:
d1 = {"col1" : [0], "col2" : [1], "col3" : [2]}
d1

{'col1': [0], 'col2': [1], 'col3': [2]}

In [16]:
dframe = pd.DataFrame(d1)
dframe

   col1  col2  col3
0     0     1     2

In [17]:
df = pd.read_csv('Files/Data.csv')

In [18]:
df.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,V,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [19]:
list1 = [["1","ABC"],["2","DEF"],["3","GHI"],["4","JKL"]]
df5 = pd.DataFrame(list1 , columns = ["A","B"]) # Changing the column name of DataFrame
df5

   A    B
0  1  ABC
1  2  DEF
2  3  GHI
3  4  JKL